In [3]:
import sys
sys.path.append("../../pandas")

In [4]:
import pandas as pd
import numpy as np
%matplotlib inline

In [5]:
%load_ext autoreload
%autoreload 2

In [9]:
>>> df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
...                    'B': {0: 1, 1: 3, 2: 5},
...                    'C': {0: 2, 1: 4, 2: 6}})

In [13]:
pd.melt(df, id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5